* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo-box {

}

.header__logo {

}

.nav {

}

.nav__list {
  display: flex;
}

.nav__item {

}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__text {
  display: block;
  text-align: center;
  color: #696969;
}

.section__background {
  background-image: url(../img/mv_0.jpg);
  background-position: right;
  background-size: cover;
  height: 500px;
  position: relative;
}

.section__block {
  position: absolute;
  top: 0;
  left: 17%;
}

.section__text-box {
  
}

.section__text-sub {
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
}

.section__text-main {
  font-size: 60px;
  font-weight: 900;
}

.section__text {
  font-weight: 600;
}

.section__photo-box {
  
}

.section__photo-1 {
  
}

.section__photo-2 {

}

.section__photo-3 {

}

.btn {
  display: flex;
  margin-top: 50px;
}

.btn-1 {
  margin-right: 20px;
  position: relative;
}

.btn-2 {
  position: relative;
}

.link-box-1 {
  position: absolute;
  top: 92%;
  left: 10%;
}

.link-box-2 {
  position: absolute;
  top: 92%;
  left: 65%;
}

.link-1::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}

.link-2::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}


.link-1 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.link-2 {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.btn {
  display: flex;
  margin-top: 50px;
}

.btn-1 {
  margin-right: 20px;
  position: relative;
}

.btn-2 {
  position: relative;
}

.link-box-1 {
  position: absolute;
  top: 92%;
  left: 10%;
}

.link-box-2 {
  position: absolute;
  top: 92%;
  left: 65%;
}

.link-1::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}

.link-2::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}


.link-1 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.link-2 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.btn {
  display: flex;
  margin-top: 50px;
}

.btn-3 {
  margin-right: 20px;
  position: relative;
  z-index: 0;
}

.btn-4 {
  position: relative;
}

.link-box-3 {
  position: absolute;
  top: 420%;
  left: 32%;
  z-index: 1;
}

.link-box-4 {
  position: absolute;
  top: 420%;
  left: 57%;
}

.link-3::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}

.link-4::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}


.link-3 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.link-4 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.btn {
  display: flex;
  margin-top: 50px;
}

.btn-5 {
  margin-right: 20px;
  position: relative;
  z-index: 0;
}

.btn-6 {
  position: relative;
}

.link-box-5 {
  position: absolute;
  top: 623.5%;
  left: 32%;
  z-index: 1;
}

.link-box-6 {
  position: absolute;
  top: 623.5%;
  left: 57%;
  z-index: 1;
}

.link-5::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}

.link-6::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}


.link-5 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.link-6 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.btn {
  display: flex;
  margin-top: 50px;
}

.btn-7 {
  margin-right: 20px;
  position: relative;
  z-index: 0;
}

.btn-8 {
  position: relative;
  z-index: 0;
}

.link-box-7 {
  position: absolute;
  top: 920%;
  left: 32%;
  z-index: 1;
}

.link-box-8 {
  position: absolute;
  top: 920%;
  left: 57%;z-index: 1;
}

.link-7::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}

.link-8::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}


.link-7 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.link-8 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn-9 {
  margin-right: 20px;
  position: relative;
  z-index: 0;
}

.btn-10 {
  position: relative;
  z-index: 0;
}

.link-box-9 {
  position: absolute;
  top: 1196%;
  left: 32%;
  z-index: 1;
}

.link-box-10 {
  position: absolute;
  top: 1196%;
  left: 57%;
  z-index: 1;
}

.link-9::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}

.link-10::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10%;
  left: 110%;
}


.link-9 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.link-10 {
  color: #fff;
  text-decoration: none;
  position: relative;
}

/* --------------------------------------------------------------------------------------------- */

.section__question {
  margin: 40px 0;
  height: 600px;
}

.section__question-block {
  display: flex;
  justify-content: center;
}

.section__question-box {
  margin-right: 30px;
  margin-bottom: 30px;
}

.section__question-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section__question-feature {
  color: rgb(78, 132, 206);
  font-size: 20px;
  font-weight: 700;
}

.section__question-detail {
  color: rgb(78, 132, 206);
  font-size: 40px;
  font-weight: 700;
}

.section__question-wrapper {
  display: flex;
  justify-content: center;
}

.section__question-group {
  border: 3px solid rgb(78, 132, 206);
  width: 300px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
}

.section__question-text {
  color: rgb(216, 112, 147);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}

.section__question-introduction {
  color: rgb(78, 132, 206);
  margin: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.section__question-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__question-img {
  margin: 0 20px;
  width: 300px;
  height: 200px;
}

/* --------------------------------------------------------------------------------------------------- */

.section__resolution {
  background-color: rgb(164, 194, 221);
  height: 1750px;
}

.section__resolution-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__resolution-box {
  margin: 30px;
}

.section__resolution-heading {
  color: rgb(216, 112, 147);
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 30px;
}

.section__resolution-title {
  color: rgb(78, 132, 206);
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 30px;
}

.section__resolution-lead {
  
}

.section__resolution-group {
  margin-right: 30px;
  margin-top: 30px;
}

.section__resolution-feature {
  color: rgb(78, 132, 206);
  font-size: 20px;
  font-weight: 700;
}

.section__resolution-detail {
  color: rgb(78, 132, 206);
  font-size: 40px;
  font-weight: 700;
}

.section__resolution-img {
  margin: 20px;
}

.section__resolution-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 1000px;
  margin: 30px auto;
}

span {
  display: inline-block;
}

/* -------------------------------------------------------------------------------------------------- */

.section__credit {
  height: 1400px;
}

.section__credit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.section__credit-img {
  margin-right: 30px;
}

.section__credit-heading {
  color: rgb(78, 132, 206);
  font-size: 30px;
  font-weight: 700;
}


.section__credit-title {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0 40px;
}

.section__credit-block {
  text-align: center;
  border-bottom: 1px solid #696969;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 1200px;
  font-size: 20px;
  font-weight: 700;
}

.section__credit-group {
  display: flex;
  justify-content: center;
}

.section__credit-area:not(:last-child) {
  margin-right: 30px;
}

.section__credit-photo {

}

.section__credit-content {
  width: 230px;
  font-size: 18px;
  font-weight: 500;
  margin: 30px 0;
}

.section__credit-wrap {
  width: 230px;
}

/* --------------------------------------------------------------------------------------------------- */

.section__thoughts {
  background-color: #eee;
}

.section__thoughts-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__thoughts-img {
  margin-right: 30px;
}

.section__thoughts-photo {
  margin: 30px; 
}

.section__thoughts-heading {
  color: rgb(78, 132, 206);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.section__thoughts-title {
  color: rgb(78, 132, 206);
  font-size: 20px;
  font-weight: 700;
}

.section__thoughts-box {
  margin: 30px 30px 30px 0;
}

.section__thoughts-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
  width: 1000px;
}

/* ------------------------------------------------------------------------------------------------------- */

.section__service {
  background-color: #eee;
  height: 600px;
}

.section__service-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__service-img {
  margin-right: 30px;
}

.section__service-wrap {
  display: flex;
  flex-direction: column;
}

.section__service-heading {
  color: rgb(78, 132, 206);
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
}


.section__service-title {
  color: rgb(78, 132, 206);
  font-size: 20px;
  font-weight: 700;
}

.section__service-text {
  color: rgb(78, 132, 206);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.section__service-wrapper {
  display: flex;
  justify-content: center;
}

.section__service-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  background-color: #fff;
  width: 400px;
}

.section__service-area {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}

.section__service-content {
  font-weight: 500;
  margin: 20px 0;
}

/* ----------------------------------------------------------------------------------------------- */

.section__operation {
  height: 1000px;
  background-color: #eee;
  margin: 30px 0;
}

.section__operation-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__operation-img {
  margin-right: 30px;
}

.section__operation-title {
  font-size: 30px;
  font-weight: 700;
  color: rgb(78, 132, 206);
}

.section__operation-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 1000px;
  height: 150px;
}

.section__operation-arrow {
  position: absolute;
  top: 110%;
  left: 45%;
}

/* ------------------------------------------------------------------------------------------------- */

.section__answer {
  background-color: #eee;
  height: 1900px;
}

.section__answer-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__answer-title {
  font-size: 30px;
  font-weight: 700;
  color: rgb(78, 132, 206);
}

.section__answer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 1000px;
  margin: 30px auto;
  height: 150px;
}

.section__answer-group {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.section__answer-img {
  margin-right: 50px;
}

/* ---------------------------------------------------------------------------------------------- */

.section__company {
  
}

.section__company-img {
  margin-right: 30px;
}

.section__company-title {
  font-size: 30px;
  font-weight: 700;
  color: rgb(78, 132, 206);
}

.section__company-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;  
}

.section__company-content {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  width: 1000px;
  margin: 0 auto;
}

.section__company-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1000px;
}

.section__company-group {
  margin-left: 100px;
}

.section__company-area {
  display: flex;
  justify-content: center;
}

.section__company-area-content {
  padding-right: 240px;
}

.section__company-text {
  display: inline;
}

/* ------------------------------------------------------------------------------------------------- */

.section__enterprise {
  border: 3px solid rgb(0, 128, 0);
  width: 1000px;
  margin: 0 auto;
}

.section__enterprise-block {
  text-align: center;
}

.section__enterprise-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.section__enterprise-group {
  text-align: center;
}

.section__enterprise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer {
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  text-align: center;
  margin: 30px;
}











































































